*
{
	margin:  0%;
	padding: 0%;
}
body
{
	background-color: #529BBB;
	color:  white;
	
}
h1
{
	margin: auto;
	font-family: cursive, sans-serif;
	font-size: 300%;
	margin-top: 4%;
	text-align: center;
}
.todo
{
	margin-top: 1%;
	height: 20%;
	text-align: center;
}
.todo input[type=text]
{
	background-color: #297B6C;
	width: auto;
	height: 50px;
	outline: none;
	border-style: hidden;
	font-size: large;
	color: white;
	padding-left: 1%;
	padding-right: 1%;
	border-radius: 3%;
}
::placeholder
{
	color: white;
}
.todo input[type=text]:focus
{
	outline: none;
	background-color: #1f5a4f;
}
.todo input[type=submit]
{
	background-color: #297B6C;
	width: auto;
	height: 50px;
	outline: none;
	border-style: hidden;
	font-size: large;
	color: white;
	cursor: pointer;
	margin-left: 2%;
	padding: 1%;
	border-radius: 5%;
}
.todo input[type=submit]:hover,.todo input[type=submit]:focus
{
	background-color: #061310;
}
.todocontainer
{
	background-color: #297B6C;
	margin-top: 2%;
	padding: .8% .5% .5% .5%;
	border-radius: 2%;
	overflow-y: auto;
}
.list
{
	width: auto;
	height: 50px;
	background-color: #6CAAAA;
	border-radius: 2%;
}
.list input[type=checkbox]
{
	transform: scale(1.5);
	margin: 1.2% 1.2%;
}
.list input[type=text]
{
	width: auto;
	background-color: #6CAAAA;
	border-style: hidden;
	height: auto;
	margin-top: 2vh;
	color: white;
	font-family: fantasy;
	font-size: large;
}
.list input[type=text]:focus
{
	outline: none;
}
.edit
{
	width: auto;
	padding: 1vh;
	background-color: #5975BC;
	float: right;
	margin-top: .5vh;
}
.delete
{
	width: auto;
	padding: 1vh;
	background-color: #D36060;
	float: right;
	margin-top: .5vh;
}
.list button
{
	border-style: hidden;
	cursor: pointer;
	border-radius: 30%;
	margin-left: 1px;
}
.TaskDone
{
	text-decoration: line-through;
	text-decoration-color: #D36060;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1f5a4f; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0, 0.2); 
  }